#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

/*tamaño de la imagen en móvil*/
@media screen and (max-width: 480px) {
  .init {
    width: 90%;
  }
  .initLogo {
    width: 50%;
  }
}

/* tamaño de la imagen en tablets*/
@media screen and (min-width: 481px) and (max-width: 846px) {
  .init {
    width: 60%;
  }
  .initLogo {
    width: 40%;
  }
}
/* tamaño de la imagen  en pc*/
@media screen and (min-width: 847px) and (max-width: 2200px) {
  .init {
    width: 30%;
  }
  .initLogo {
    width: 15%;
  }
}
