<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      <div class="text-center">
        <img src="assets/title.png" class="initLogo">
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-card>

    <ion-card-header>
      <ion-card-title ><strong>Welcome to The Rick and Morty API</strong></ion-card-title>
    </ion-card-header>

    <div class="text-center">
      <img src="assets/rick-and-morty-31042.png" class="init">
    </div>
   

    <ion-card-content>
      <ion-text color="dark">
        The series follows the misadventures of a scientist , Rick, and his easily influenced grandson, Morty, as they navigate between domestic life and space , time, and intergalactic . 
      </ion-text>
    </ion-card-content>

  </ion-card>

  <ion-button expand="block" routerLink="/characters" color="dark">
    <ion-icon name="search-outline"></ion-icon>
    FIND A CHARACTER BY NAME
  </ion-button>

  <ion-button expand="block" routerLink="/favorites" color="dark">
    SHOW FAVORITES
  </ion-button>
</ion-content>

